<%
local update_url = luci.dispatcher.build_url("admin", "network", "device_qos", "update_rules")
%>
<div class="cbi-section-node">
    <div class="cbi-value" style="margin-bottom: 15px;">
        <div class="cbi-value-field" style="padding-left: 0;">
            <input class="cbi-button cbi-button-apply" type="button" 
                value="<%:Update Rules Now%>"
                onclick="location.href='<%=update_url%>'"
                style="font-size: 14px; padding: 8px 20px;"
            />
            <span style="margin-left: 15px; color: #666; font-size: 12px;">
                <img src="<%=resource%>/cbi/help.gif" alt="help" style="vertical-align: middle; margin-right: 5px;" />
                <%:Download latest rules from all enabled rule sources and reload service. This may take a few seconds.%>
            </span>
        </div>
    </div>
</div>